.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0 10px;
  }
}
