.main-footer {
  display: block;

  &--index {
    display: none;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-footer__social {
  list-style: none;
  margin: 0 0 28px 0;
  padding: 0;
}

.main-footer__logo {
  margin-bottom: 33px;

  &--mobile {
    display: block;
  }

  &--desktop {
    display: none;
  }
}

.main-footer__copyright {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 44px;
}

.main-footer__copyright-icon {
  margin-left: 15px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-footer {
    margin-bottom: 33px;

    &--index {
      display: block;
    }
  }

  .main-footer__logo {
    margin-bottom: 5px;
  }

  .main-footer__social {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .main-footer__copyright {
    margin-bottom: 0;
  }

  .main-footer__copyright-icon {
    margin-bottom: -9px;
    margin-left: 8px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    margin-bottom: 80px;
  }

  .main-footer__copyright {
    font-size: 18px;
    margin-bottom: -3px;
  }

  .main-footer__copyright-icon {
    padding-top: 0;
  }

  .main-footer__social {
    margin-right: 0;
    margin-bottom: -9px;
    margin-left: 4px;
  }

  .main-footer__logo {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
