.main-footer {
  display: block;

  &--index {
    display: none;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-footer__social {
  list-style: none;
  margin-bottom: 30px;
}

.main-footer__logo {
  margin-bottom: 46px;
}

.main-footer__copyright {
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-footer {
    margin-bottom: 33px;

    &--index {
      display: block;
    }
  }

  .main-footer__logo {
    margin-bottom: 0;
  }

  .main-footer__social {
    margin-bottom: 0;
  }

  .main-footer__copyright {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    margin-bottom: 80px;
  }
}
