.button {
  display: inline-block;
  text-align: center;
  width: 274px;
  padding: 15px 0;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  background-color: rgba(255, 255, 255, 0);

  &--point {
    display: block;
    width: 6px;
    height: 6px;
    padding: 0;
    margin: 0;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: rgba(194, 190, 199, 1);

    &.active {
      width: 12px;
      height: 12px;
      border: 3px solid rgba(40, 56, 69, 1);
      background-color: rgba(255, 255, 255, 0);

      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }
    }

    &:hover {
      background-color: rgba(126, 134, 143, 1);
    }

    &:active {
      background-color: rgba(233, 235, 236, 1);
    }
  }

  &--send {
    width: 280px;
    margin-bottom: 33px;
    background-color: #2aab6d;
    text-transform: uppercase;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    line-height: 30px;
    letter-spacing: 0.01em;
    border-color: rgba(255, 255, 255, 0);
    color: $text-white;
    border-radius: 3px;

    &:hover {
      background-color: #1c9b5e;
    }

    &:active {
      color: #61b98f;
    }

    &.disabled {
      background-color: #e5e5e5;
      color: #ffffff;
    }
  }

  &--intro {
    position: relative;
    z-index: 6;
    width: 280px;
    margin-top: 42px;
    margin-bottom: 35px;
    padding: 15px 0;
    border: 3px solid #ffffff;
    border-radius: 30px;
    text-decoration: none;
    color: $text-white;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;

    &:hover {
      background-color: #ffffff;
      color: #d22856;
    }

    &:active {
      color: #f1becc;
    }
  }

  &--slider {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--send {
      width: 300px;
      margin-bottom: 0;
    }

    &--intro {
      width: 300px;
      margin-top: 23px;
      margin-bottom: 47px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--intro {
      font-size: 21px;
      line-height: 18px;
      margin-bottom: 70px;
    }

    &--slider {
      display: block;
      width: 30px;
      height: 40px;
      margin-top: 51px;
      padding-bottom: 80px;
      border: none;
      outline: none;

      &:hover {
        svg {
          fill: #7e868f;
        }
      }

      &:active {
        svg {
          opacity: 0.3;
        }
      }
    }
  }
}
