.button {
  display: inline-block;
  text-align: center;
  width: 274px;
  padding: 15px 0;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  background-color: rgba(255, 255, 255, 0);

  &--point {
    display: block;
    width: 6px;
    height: 6px;
    padding: 0;
    margin: 0;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: rgba(194, 190, 199, 1);

    &.active {
      width: 12px;
      height: 12px;
      border: 3px solid rgba(40, 56, 69, 1);
      background-color: rgba(255, 255, 255, 0);
    }
  }

  &--send {
    width: 280px;
    margin-bottom: 33px;
    background-color: #2aab6d;
    text-transform: uppercase;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    line-height: 30px;
    letter-spacing: 0.01em;
    border-color: rgba(255, 255, 255, 0);
    color: $text-white;
    border-radius: 3px;
  }

  &--intro {
    width: 280px;
    margin-top: 42px;
    margin-bottom: 35px;
    padding: 15px 0;
    border: 3px solid #ffffff;
    border-radius: 30px;
    text-decoration: none;
    color: $text-white;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
  }

  &--slider {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--send {
      width: 300px;
      margin-bottom: 0;
    }

    &--intro {
      width: 300px;
      margin-top: 23px;
      margin-bottom: 47px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--intro {
      font-size: 21px;
      line-height: 18px;
      margin-bottom: 70px;
    }

    &--slider {
      display: block;
      width: 30px;
      height: 40px;
      margin-top: 68px;
      border: none;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--back {
      background-image: url("../img/icon-review-arrow-left.svg");
    }

    &--forward {
      background-image: url("../img/icon-review-arrow-right.svg");
    }
  }
}
