.button {
  display: inline-block;
  text-align: center;
  width: 274px;
  padding: 15px 0;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  background-color: rgba(255, 255, 255, 0);

  &--point {
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("../img/icon-editor-contrast.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--send {
    width: 280px;
    margin-bottom: 33px;
    background-color: #2aab6d;
    text-transform: uppercase;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    line-height: 30px;
    border-color: rgba(255, 255, 255, 0);
    color: $text-white;
    border-radius: 3px;
  }

  &--intro {
    width: 274px;
    margin-top: 39px;
    margin-bottom: 35px;
    padding: 15px 0;
    border: 3px solid #ffffff;
    border-radius: 30px;
    text-decoration: none;
    color: $text-white;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
  }

  &--slider {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--send {
      width: 300px;
      margin-bottom: 0;
    }

    &--intro {
      width: 290px;
      margin-top: 23px;
      margin-bottom: 47px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--intro {
      font-size: 21px;
      line-height: 18px;
      margin-bottom: 70px;
    }

    &--slider {
      display: block;
      margin-top: 40px;
    }
  }
}
