.control-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.control-icons__button {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: center;

  &.active {
    path {
      fill: #d22856;
    }
  }

  &:hover {
    path {
      fill: #8d949b;
    }
  }

  &:active {
    path {
      fill: #d22856;
    }
  }
}

@media (min-width: $tablet-width) {
  .control-icons__button {
    display: none;
  }

  .control-icons {
    padding-top: 55px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .control-icons__settings-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .control-icons__item {
    margin-top: 17px;
  }

  .control-icons__item:nth-child(1) {
    margin-left: 0;
  }

  .control-icons__item:nth-child(2) {
    margin-top: 36px;
  }

  .control-icons__item:nth-child(3) {
    margin-top: 34px;
    margin-right: 0;
  }

  .control-icons__big-icon {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -16px;
    left: -1px;
    transform: scale(0.5);

    &--contrast {
      top: -11px;
      left: 6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .control-icons {
    background-color: $bg-grey;
    padding: 58px 60px 46px 60px;
  }

  .control-icons__item {
    margin-top: 17px;
  }

  .control-icons__big-icon {
    width: 50px;
    height: 50px;
    top: -24px;
    left: 8px;
    transform: scale(1);

    &--contrast {
      top: -16px;
      left: 16px;
    }
  }
}
