.control-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.control-icons__button {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: center;
}

.control-icons__item:nth-child(1) {
  margin-left: 16px;
}

.control-icons__item:nth-child(3) {
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .control-icons__button {
    display: none;
  }

  .control-icons__wrapper {
    padding-top: 55px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .control-icons__settings-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .control-icons__item {
    margin-top: 20px;
  }

  .control-icons__item:nth-child(2) {
    margin-top: 36px;
  }

  .control-icons__item:nth-child(3) {
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .control-icons__wrapper {
    background-color: $bg-grey;
    padding: 58px 60px;
  }

  .control-icons__item {
    margin-top: 17px;
  }
}
