//styles for block

.effect {
  display: none;
}

.effect__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.effect__description {
  font-size: 14px;
  line-height: 24px;
}

.effect__link {
  color: #d22856;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
  }

  .effect__text-wrapper {
    display: flex;
    flex-flow: column;
    width: 310px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    padding-top: 50px;
    margin-bottom: 188px;
    background-color: $bg-grey;
    padding-bottom: 50px;
  }

  .effect__img {
    width: 300px;
    height: 350px;
  }

  .effect__wrapper {
    justify-content: start;
    margin-bottom: 0;
  }

  .effect__text-wrapper {
    width: 520px;
    padding-left: 66px;
  }

  .effect__description {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 29px 0;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
