.effect {
  display: none;
}

.effect__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;

  &--new-line {
    display: none;
  }
}

.effect__description {
  font-size: 14px;
  line-height: 24px;
}

.effect__link {
  color: #d22856;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 165px;
  }

  .effect__text-wrapper {
    padding-top: 29px;
    display: flex;
    flex-flow: column;
    width: 310px;
  }

  .effect__title {
    margin: 0 0 8px 0;

    &--new-line {
      display: block;
    }
  }

  .effect__description {
    margin: 0 0 11px 0;
  }

  .effect__img {
    position: relative;
    width: 240px;
    min-height: 280px;

    &--vector {
      position: absolute;
      top: -23px;
      left: 0;
    }

    &--text {
      position: absolute;
      top: 87px;
      left: 64px;
      font-family: "Open Sans Bold", "Arial", sans-serif;
      font-size: 96px;
      line-height: 150px;
      color: #d22856;
    }

    &--text-border {
      min-width: 200px;
      min-height: 200px;
      position: absolute;
      top: 68px;
      left: 20px;
      border: 12px solid #d22856;
      border-radius: 100px;
    }
  }
}

@media (min-width: $desktop-width) {
  .effect {
    padding-top: 140px;
    margin-bottom: 245px;
    background-color: $bg-grey;
    padding-bottom: 35px;
  }

  .effect__img {
    &--vector {
      top: 0;
    }

    &--text {
      font-size: 120px;
      line-height: 187px;
      top: 96px;
      left: 80px;
    }

    &--text-border {
      border: 18px solid #d22856;
      min-width: 250px;
      min-height: 250px;
      border-radius: 160px;
      top: 72px;
      left: 25px;
    }
  }

  .effect__title {
    margin-top: -19px;
    margin-bottom: 24px;

    &--new-line {
      display: none;
    }
  }

  .effect__img {
    width: 300px;
    height: 350px;
  }

  .effect__wrapper {
    justify-content: start;
    margin-bottom: 0;
  }

  .effect__text-wrapper {
    width: 525px;
    padding-left: 66px;
  }

  .effect__description {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 29px 0;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
