.form-radio__input {
  display: none;
}

.form-radio__label {
  position: relative;
  padding-left: 70px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 30px;
}

.form-radio__label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 3px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .form-radio__label {
    padding-left: 57px;
  }
}
