//styles for block
.form {
  margin-bottom: 74px;
}

.form__description {
  text-align: center;
  padding: 0;
  margin-bottom: 34px;

  &--big {
    display: none;
  }
}

.form__title {
  padding: 30px 17px 28px 17px;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #d22856;
  text-align: center;
}

.form__control {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form__require {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
}

.form__require-marker {
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 95px;
  }
  
  .form__description {
    font-size: 18px;
    line-height: 30px;
    padding: 0 60px;
    margin-bottom: 71px;

    &--big {
      display: block;
    }
  }

  .form__title {
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 42px;
    margin-top: -17px;
    background-color: $bg-white;
  }

  .form__control {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
