//styles for block
.form-textarea {
  margin-bottom: 19px;
  display: flex;
  flex-flow: column;
}

.form-textarea__label {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.form-textarea__input {
  box-sizing: border-box;
  padding: 13px 19px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}
