.form-checkbox__input {
  display: none;
}

.form-checkbox__label {
  position: relative;
  padding-left: 70px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 30px;
}

.form-checkbox__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: $bg-white;
  border: 2px solid #e5e5e5;
}

.form-checkbox__input:checked + label::before {
  background-image: url("../img/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .form-checkbox__label {
    padding-left: 57px;
  }
}

@media (min-width: $desktop-width) {
  .form-checkbox__label::before {
    top: -3px;
    left: -2px;
  }
}
