//styles for block
.form-textarea {
  margin-bottom: 19px;
  display: flex;
  flex-flow: column;
}

.form-textarea__label {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.form-textarea__input {
  box-sizing: border-box;
  padding: 13px 19px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .form-textarea__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 60px;
    border: 2px solid #e5e5e5;
  }

  .form-textarea__input {
    width: 100%;
    margin-bottom: 46px;
    padding-bottom: 0;
  }

  .form-textarea__label {
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 19px;
    margin-top: -17px;
    background-color: $bg-white;
  }
}
