.form-feedback {
  display: flex;
  flex-flow: column;
}

.form-feedback__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .form-feedback__user-data {
    order: 1;
    margin-bottom: 10px;
  }

  .form-feedback__application-info {
    order: 2;
  }

  .form-feedback__user-data-contacts {
    order: 3;
    margin-bottom: 64px;
  }

  .form-feedback__events {
    order: 4;
    margin-bottom: 69px;
  }

  .form-feedback__user-message {
    order: 5;
    margin-bottom: 30px;
  }

  .form-feedback__controls {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback {
    flex-flow: row wrap;
    width: 940px;
    margin: 0 auto;
  }

  .form-feedback__user-data {
    margin-right: 69px;
    margin-top: 9px;
  }

  .form-feedback__user-data-contacts {
    width: 940px;
  }

  .form-feedback__events {
    width: 940px;
  }

  .form-feedback__controls {
    padding: 0;
  }
}
