.form-field {
  margin: 0 0 19px 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.form-field__label {
  margin-bottom: 6px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.form-field__input {
  box-sizing: border-box;
  padding: 13px 22px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .form-field {
    flex-flow: row;
    align-items: center;
    margin-bottom: 56px;

    &--user-data {
      flex-flow: row wrap;
      width: 100%;
      margin-bottom: 23px;
    }
  }

  .form-field__input {
    width: 100%;

    &--user-data {
      order: 1;
      margin-bottom: 13px;
      padding-left: 16px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  .form-field__label {
    padding-left: 0;
    padding-right: 19px;

    &--user-data {
      order: 2;
      padding-left: 19px;
      padding-right: 0;
      position: relative;
      margin-bottom: 3px;
    }
  }

  .form-field__label--user-data::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 58px;
    top: -73px;
    right: -347px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-field__label--user-data.email::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 58px;
    top: -73px;
    right: -377px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .form-field {
    &--user-data {
      width: 375px;
      margin-bottom: 7px;
    }
  }

  .form-field__label {
    &--user-data.email {
      padding-left: 21px;
    }
  }

  .form-field__label--user-data::before {
    right: -227px;
  }

  .form-field__label--user-data.email::before {
    right: -254px;
  }
}
