//styles for block
.gallery {
  list-style: none;
}

.gallery__item {
  position: relative;
  margin-bottom: 21px;
}

.gallery__post {
  padding: 0 20px;
  background-color: $bg-grey;
}

.gallery__post-label {
  width: 140px;
  padding: 7px 0;
  position: absolute;
  top: 0;
  right: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
}

.gallery__post-title {
  margin: 0 0 -3px 0;
  padding-top: 27px;
}

.gallery__post-time {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__post-description {
  margin: 0 0 6px 0;
  font-size: 14px;
  line-height: 24px;
}

.gallery__item-image {
    margin-bottom: -24px;
}

.gallery__post-author {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.gallery__post-controls {
  margin: 0;
  padding-bottom: 18px;
}

.gallery__post-control-text {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .gallery__post {
    box-sizing: border-box;
    width: 300px;
    padding: 0 27px;
    min-height: 168px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    &--day {
      width: 620px;
      margin-left: auto;
      margin-right: auto;
      min-height: 0;
      display: flex;
      flex-flow: row wrap;
    }
  }

  .gallery__item-image {
    width: 300px;
    height: 300px;

    &--day {
      width: 660px;
      height: 510px;
    }
  }

  .gallery__post-label {
    top: 55px;
  }

  .gallery__post-title {
    padding-top: 33px;
  }

  .gallery__post-author {
    &--day {
      order: 1;
    }
  }

  .gallery__post-time {
    &--day {
      order: 2;
    }
  }

  .gallery__post-description {
    margin-bottom: auto;

    &--day {
      order: 4;
      margin: 0;
      padding-bottom: 25px;
    }
  }

  .gallery__post-controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    &--day {
      order: 3;
      padding-top: 33px;
      padding-bottom: 0;
    }

    .like {
      order: 2;
    }

    .gallery__post-control-text {
      order: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery__item {
    margin-bottom: 50px;
  }

  .gallery__item-image {
    width: 300px;
    height: 400px;

    &--day {
      width: 1200px;
      height: 510px;
    }
  }

  .gallery__post {
    &--day {
      width: 940px;
    }
  }

  .gallery__post-label {
    right: 130px;
  }
}
