//styles for block

.information {
  background-color: $bg-grey;
  margin-bottom: 38px;
}

.information__description {
  list-style: none;
  margin: 0;
  padding: 76px 0 0 0;
}

.information__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .information__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .information-banner {
    width: 271px;
    height: 483px;
    align-self: flex-end;
  }

  .information__description {
    padding-top: 33px;
  }
}
