//styles for block

.information {
  background-color: $bg-grey;
  margin-bottom: 50px;
}

.information__description {
  list-style: none;
  margin: 0;
  padding: 76px 0 0 0;
}

.information__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.information__banner {
  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .information__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .information__banner {
    width: 271px;
    height: 483px;
    align-self: flex-end;
  }

  .information__description {
    padding-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .information__wrapper {
    justify-content: center;
  }

  .information__banner {
    width: 300px;
    height: 300px;

    &--desktop {
      display: block;
    }
  }

  .information__description {
    padding-top: 26px;
  }

  .information__banner-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 940px;
    justify-content: space-between;
  }
}
