//styles for block

.intro {
  padding-top: 462px;
  margin-bottom: 40px;
  color: $text-white;
  background-color: $bg-dark-blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat,
    no-repeat;
  background-position: left 175px,
    center 0;
}

.intro__title {
  display: none;
}

.intro__button {
  width: 274px;
  margin-top: 27px;
  margin-bottom: 35px;
  padding: 15px 0;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  color: $text-white;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.intro__description {
  margin: 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .intro {
    min-width: 660px;
    height: 681px;
    padding-top: 0;
    margin-bottom: 60px;
    background-image: url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat,
      no-repeat;
    background-position: center 124px,
      center 0;
    background-size: 470px 557px, 660px 681px;
  }

  .intro__wrapper {
    width: 300px;
    margin: 0;
    padding-top: 114px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .intro__title {
    width: 200px;
    margin-bottom: 4px;
    display: block;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .intro__button {
    width: 290px;
    margin-bottom: 47px;
  }

  .intro__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-size: 470px 557px, 1200px 853px;
  }
}

