.intro {
  position: relative;
  min-width: 320px;
  min-height: 462px;
  margin-bottom: 40px;
  padding-top: 450px;
  box-sizing: border-box;
  color: $text-white;
  background-color: $bg-dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto 462px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--photo,
  &--form {
    margin-bottom: 42px;
    padding-top: 76px;
    min-height: 243px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: 0 -3%;
    background-size: 320px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 640px auto;
      background-position: 50% -3%;
    }
  }

  &--form {
    padding-top: 74px;
  }
}

.intro__bg-hand {
  position: absolute;
  z-index: 3;
  width: 320px;
  min-height: 388px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 260px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}

.intro__title {
  display: none;
  margin-right: auto;
  margin-left: auto;
  z-index: 4;

  &--photo,
  &--form {
    display: block;
    padding: 0;
    text-align: center;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 24px;
  }
}

.intro__description {
  margin: 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  z-index: 5;
}

.intro__list {
  z-index: 7;
}

@media (min-width: $tablet-width) {
  .intro {
    min-width: 660px;
    padding-top: 0;
    padding-bottom: 80px;
    margin-bottom: 60px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 730px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--photo,
    &--form {
      padding-top: 135px;
      min-height: 394px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-position: 50% 0;
      background-size: 1200px auto;
      margin-bottom: 92px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }

    &--form {
      padding-bottom: 80px;
    }

    &--photo {
      padding-bottom: 140px;
    }
  }

  .intro__bg-hand {
    width: 660px;
    min-height: 730px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px 184px;
    background-size: 700px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  .intro__wrapper {
    width: 300px;
    margin: 0;
    padding-top: 160px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .intro__title {
    width: 200px;
    margin-bottom: 4px;
    display: block;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    &--photo,
    &--form {
      width: 620px;
      font-size: 50px;
    }

    &--photo {
      line-height: 55px;
    }

    &--form {
      line-height: 57px;
    }
  }

  .intro__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-bottom: 0;
    margin-bottom: 85px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 7px;
    background-size: auto 860px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--photo,
    &--form {
      min-height: 395px;
      padding-top: 100px;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-position: 50% 0;
      background-size: 2560px auto;
      margin-bottom: 92px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-position: 50% -3%;
      }
    }

    &--form {
      padding-top: 125px;
    }
  }

  .intro__bg-hand {
    width: 960px;
    min-height: 860px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 23px 211px;
    background-size: 1053px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .intro__wrapper {
    padding-top: 171px;
  }

  .intro__title {
    width: 240px;
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 33px;

    &--form {
      width: 750px;
    }

    &--photo {
      width: 370px;
      margin-top: 75px;
    }
  }

  .intro__description {
    padding-bottom: 122px;
  }
}
