.intro {
  min-height: 462px;
  margin-bottom: 40px;
  padding-top: 450px;
  box-sizing: border-box;
  color: $text-white;
  background-color: $bg-dark-blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 175px, center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    background-size: 516px auto, 1400px auto;
  }

  &--photo,
  &--form {
    margin-bottom: 46px;
    padding-top: 78px;
    min-height: 243px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: 0 -3%;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }
}

.intro__title {
  display: none;
  margin-right: auto;
  margin-left: auto;

  &--photo,
  &--form {
    display: block;
    padding: 0;
    text-align: center;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 24px;
  }
}

.intro__description {
  margin: 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .intro {
    min-width: 660px;
    padding-top: 0;
    padding-bottom: 75px;
    margin-bottom: 60px;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center 124px, center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
      background-size: 1400px auto, 2400px auto;
    }

    &--photo,
    &--form {
      padding-top: 100px;
      min-height: 394px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-position: 0 center;
      background-size: cover;
      margin-bottom: 92px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }
  }

  .intro__wrapper {
    width: 300px;
    margin: 0;
    padding-top: 114px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .intro__title {
    width: 200px;
    margin-bottom: 4px;
    display: block;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    &--photo,
    &--form {
      width: 620px;
      font-size: 50px;
    }
  }

  .intro__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-bottom: 0;
    margin-bottom: 85px;
    background-image: url("../img/iphone-hand-desktop@1x.png"),
    url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"),
      url("../img/bg-back-desktop@2x.jpg");
      background-size: 2100px auto, 5120px auto;

      &--photo,
      &--form {
        min-height: 395px;
        background-image: url("../img/bg-back-desktop@1x.jpg");
        background-position: 0 center;
        background-size: cover;
        margin-bottom: 92px;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/bg-back-desktop@2x.jpg");
        }
      }
    }

    .intro__wrapper {
      padding-top: 171px;
    }

    .intro__title {
      width: 240px;
      font-size: 50px;
      line-height: 58px;
      margin-bottom: 33px;

      &--form {
        width: 750px;
      }

      &--photo {
        width: 370px;
        margin-top: 75px;
      }
    }

    .intro__description {
      padding-bottom: 122px;
    }
  }
}
