.intro {
  min-height: 462px;
  margin-bottom: 40px;
  padding-top: 450px;
  box-sizing: border-box;
  color: $text-white;
  background-color: $bg-dark-blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat,
    no-repeat;
  background-position: left 175px,
    center 0;

  &--photo,
  &--form {
    margin-bottom: 46px;
    padding-top: 78px;
    min-height: 243px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: 0 -3%;
    background-size: cover;
  }
}

.intro__title {
  display: none;
  margin-right: auto;
  margin-left: auto;

  &--photo,
  &--form {
    display: block;
    padding: 0;
    text-align: center;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 24px;
  }
}

.intro__description {
  margin: 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .intro {
    min-width: 660px;
    padding-top: 0;
    padding-bottom: 75px;
    margin-bottom: 60px;
    background-image: url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat,
      no-repeat;
    background-position: center 124px,
      center 0;
    background-size: 470px 557px, 660px 681px;

    &--photo,
    &--form {
      padding-top: 100px;
      min-height: 394px;
      background-image: url("../img/bg-back-mobile@1x.jpg");
      background-position: 0 center;
      background-size: cover;
      margin-bottom: 92px;
    }
  }

  .intro__wrapper {
    width: 300px;
    margin: 0;
    padding-top: 114px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .intro__title {
    width: 200px;
    margin-bottom: 4px;
    display: block;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    &--photo,
    &--form {
      width: 620px;
      font-size: 50px;
    }
  }

  .intro__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-size: 470px 557px, 1200px 853px;
    padding-bottom: 0;
    margin-bottom: 85px;

    &--photo,
    &--form {
      min-height: 395px;
      background-image: url("../img/bg-back-mobile@1x.jpg");
      background-position: 0 center;
      background-size: cover;
      margin-bottom: 92px;
    }
  }

  .intro__wrapper {
    padding-top: 171px;
  }

  .intro__title {
    width: 240px;
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 33px;

    &--form {
      width: 750px;
    }

    &--photo {
      width: 370px;
      margin-top: 75px;
    }
  }

  .intro__description {
    padding-bottom: 122px;
  }
}
