.like {
  width: 14px;
  height: 14px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .like {
    margin-left: 20px;

    &--day {
      margin-right: 3px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .like {
    &--day {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}
