.main-nav {
  position: relative;
  display: flex;
  flex-flow: column;

  a {
    text-decoration: none;
    color: $text-white;
  }
}

.main-nav__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
}

.main-nav__controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid #000001;
}

.main-nav__logo::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 20px;
  width: 80px;
  height: 30px;
  background-image: url("../../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.main-nav__toggle {
  width: 25px;
  height: 25px;
  padding: 32px 0 36px 0;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url("../../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

@media (min-width: $tablet-width) {
  .main-nav__logo::before {
    top: 40px;
  }

  .main-nav__toggle {
    width: 25px;
    height: 25px;
    padding: 55px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-nav__controls {
    border-bottom: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo::before {
    left: 10px;
  }

  .main-nav__wrapper {
    width: $desktop-width;
    padding: 0 10px;
  }
}
