.main-nav {
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: $bg-dark-blue;

  a {
    text-decoration: none;
    color: $text-white;
  }

  &.close {
    background-color: rgba(0, 0, 0, 0.3);

    ul.main-nav__list {
      display: none;
    }

    .main-nav__toggle {
      max-width: 50px;

      &--cross {
        display: none;
      }

      &--burger {
        display: block;
      }
    }
  }
}

.main-nav__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
}

.main-nav__controls {
  min-height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000001;
}

.main-nav__logo {
  padding: 0;
  margin-left: -51px;
  margin-top: -10px;

  &:hover {
    path {
      fill: #d22856;
    }
  }

  &:active {
    path {
      fill: #ffffff;
      opacity: 0.3;
    }
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.main-nav__toggle {
  max-width: 24px;
  padding: 0;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;

  &:hover {
    path {
      fill: #d22856;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }

  &--cross {
    display: block;
  }

  &--burger {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__controls {
    min-height: 110px;
  }

  .main-nav__logo {
    margin-left: 0;
    margin-top: 0;

    &--position-tablet {
      margin-left: 20px;
      margin-bottom: 3px;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  .main-nav__toggle {
    margin-bottom: -6px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, -0.1);
  }

  .main-nav__controls {
    border-bottom: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    &--position-desktop {
      margin-left: 0;
      margin-bottom: 6px;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .main-nav__wrapper {
    width: $desktop-width;
    padding: 0 10px;
  }
}
