.map {
  width: 100%;
  height: 200px;
  position: relative;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 0 -446px;
  background-repeat: no-repeat;
  background-size: cover;
}

.map::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 45%;
  left: 45%;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.map::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .map {
    height: 374px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 500px;
  }
}
