.no-icon::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 40% 35%;
}
