.platform-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 0 18px 0;
  padding: 0;
}

.platform-list__item {
  display: inline-block;
  width: 58px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

a.platform-list__item--apple {
  background-image: url("../../img/logo-apple.svg");
}

a.platform-list__item--android {
  background-image: url("../../img/logo-android.svg");
}

a.platform-list__item--windows {
  background-image: url("../../img/logo-microsoft.svg");
}

@media (min-width: $tablet-width) {
  .platform-list {
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .platform-list {
    margin-bottom: 52px;
  }
}
