.price-table {
  width: 280px;
  border-collapse: collapse;
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;

  &--description {
    display: none;
  }
}

.price-table__title-row {
  width: 280px;
  display: flex;
  flex-flow: column;
  color: $text-white;
  text-align: center;
  background-color: $bg-dark-blue;
}

.price-table__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 16px;
}

.price-table__cost {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}

.price-table__content-row {
  width: 280px;
  position: relative;
  display: flex;
  letter-spacing: 0.01em;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: $bg-white;
  border-bottom: 2px solid #e5e5e5;
}

.price-table__content {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 15px 0 14px 21px;
}

.price-table__icon {
  width: 60px;
}

@media (min-width: $tablet-width) {
  .price-table {
    width: 155px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;

    &--description {
      display: block;
    }
  }

  .price-table__title-row {
    width: 155px;
    font-size: 16px;
  }

  .price-table__title {
    font-size: 16px;
    padding-top: 9px;
  }

  .price-table__cost {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 12px;
  }

  .price-table__content-row {
    width: 155px;
    justify-content: center;

    &--description {
      justify-content: start;
    }
  }

  .price-table__icon {
    padding: 8px 0 8px 0;
  }

  .price-table__content {
    display: none;

    &--description {
      display: block;
      text-transform: none;
      padding: 8px 0 8px 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .price-table {
    width: 230px;
  }

  .price-table__title-row {
    width: 230px;
  }

  .price-table__content-row {
    width: 230px;

    &--description {
      width: 230px;
    }
  }

  .price-table__title {
    font-size: 18px;
    line-height: 30px;
    padding-top: 17px;
  }

  .price-table__cost {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 19px;
  }

  .price-table__content--description {
    font-size: 18px;
    padding: 14px 0 14px 18px;
  }

  .price-table__icon {
    padding: 14px 0 14px 0;
  }
}
