.range-control {
  box-sizing: border-box;
  position: relative;
  padding: 0 18px;
  margin-top: 45px;
  margin-bottom: 34px;

  &--big {
    display: none;
  }
}

.range-control__scale {
  height: 2px;
  background: #283645;
  margin-bottom: 8px;
}

.range-control__toggle {
  position: absolute;
  top: -7px;
  right: 19%;
  width: 10px;
  height: 10px;
  border: 2px solid #cd2855;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .range-control {
    display: none;

    &--big {
      display: block;
      padding-left: 53px;
      margin: 0 0 34px 0;
    }
  }

  .range-control__toggle {
    &--crop {
      right: 22%;
    }

    &--fill {
      left: 30%;
    }

    &--contrast {
      right: 40%;
    }
  }
}

@media (min-width: $desktop-width) {
  .range-control {
    &--big {
      padding-left: 100px;
      padding-right: 30px;
    }
  }

  .range-control__toggle {
    &--crop {
      left: 41%;
    }

    &--fill {
      left: 83%;
    }

    &--contrast {
      right: 34%;
    }
  }
}
