.review {
  margin-top: -100px;
  margin-bottom: 43px;
  background-color: $bg-white;
  position: relative;
}

.review::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 114%;
  left: 0;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.review__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.review__buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .review {
    margin-bottom: 19px;
  }

  .review::after {
    top: 107%;
  }
}

@media (min-width: $desktop-width) {
  .review__buttons {
    display: none;
  }

  .review__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
  }

  .review::after {
    top: 105%;
  }
}
