//styles for block

.review {
  margin-bottom: 44px;
}

.review__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.review__buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .review {
    margin-bottom: 13px;
  }
}
