.slider__item {
  display: none;
  text-align: center;

  &.current {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.slider__list {
  margin: 0 0 20px 0;
  padding: 40px 0 0 0;
  background-color: $bg-white;
}

.slider__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.slider__title-info {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__list {
    margin-bottom: 35px;
  }

  .slider__title {
    order: 2;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  .slider__info {
    order: 1;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 36px 0;
    padding: 0;
  }

  .slider__title-info {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .slider__list {
    width: 700px;
    padding-left: 10px;
  }

  .slider__info {
    width: 750px;
    margin-right: 10px;
    position: relative;
  }

  .slider__info::before {
    position: absolute;
    width: 85px;
    height: 70px;
    content: "";
    top: -114px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider__title {
    font-size: 24px;
    margin-right: 10px;
  }

  .slider__title-info {
    font-size: 18px;
    margin-right: 10px;
  }
}
