.table-slider__list {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.table-slider__item {
  position: relative;
}

.table-slider__item--description {
  align-self: flex-end;
}

@media (min-width: $tablet-width) {
  .table-slider__list {
    margin-bottom: 65px;
  }
}
