.text-list {
  margin: 0 0 27px 0;
  padding: 0;
}

.text-list__item {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tex-list__item:nth-child(3) {
  margin-bottom: 5px;
}

.text-list__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
}

.text-list__content {
  font-family: "Open Sans Light", "Arial", sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
  color: #d22856;
  text-align: center;

  & a {
    text-decoration: none;
    color: #d22856;
  }

  & a:hover {
    text-decoration: underline;
    color: #283645;
  }

  & a:active {
    text-decoration: none;
    color: #ced0d2;
  }
}

@media (min-width: $tablet-width) {
  .text-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 13px;
  }

  .text-list__item:nth-child(1) {
    margin-left: 18px;
  }

  .text-list__item:nth-child(2) {
    margin-left: 38px;
  }

  .text-list__item:nth-child(3) {
    width: 280px;
    padding-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .text-list {
    width: 848px;
    margin-bottom: 6px;
    justify-content: space-between;
  }

  .text-list__item {
    max-width: 211px;
  }

  .text-list__item:nth-child(3) {
    padding-top: 0;
    order: 2;
    margin: 0;
  }

  .text-list__item:nth-child(1) {
    order: 1;
    margin: 0;
  }

  .text-list__item:nth-child(2) {
    order: 3;
    margin: 0;
  }

  .text-list__title {
    margin-bottom: 20px;
  }
}
