.text-list {
  margin: 0 0 27px 0;
  padding: 0;
}

.text-list__item {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.text-list__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
}

.text-list__content {
  font-family: "Open Sans Light", "Arial", sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
  color: #d22856;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .text-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 13px;
  }

  .text-list__item:nth-child(1) {
    margin-left: 24px;
  }

  .text-list__item:nth-child(2) {
    margin-left: 54px;
  }

  .text-list__item:nth-child(3) {
    width: 280px;
    padding-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .text-list {
    width: 940px;
    margin-bottom: 6px;
  }

  .text-list__item:nth-child(3) {
    padding-top: 0;
    order: 2;
  }

  .text-list__item:nth-child(1) {
    order: 1;
  }

  .text-list__item:nth-child(2) {
    order: 3;
    margin-left: 66px;
  }

  .text-list__title {
    margin-bottom: 20px;
  }
}
