//styles for block
.user-data {
  box-sizing: border-box;
  margin-bottom: 24px;
  display: flex;
  flex-flow: column;
}

.user-data__title {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-data {
    margin-bottom: 0;
  }

  .user-data__title {
    display: block;
    padding-bottom: 33px;
  }

  .user-data__wrapper {
    width: 620px;
    box-sizing: border-box;
    padding: 0 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid #e5e5e5;
  }
}
