.user-data {
  box-sizing: border-box;
  margin-bottom: 27px;
  display: flex;
  flex-flow: column;
}

.user-data__title {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-data {
    margin-bottom: 0;
  }

  .user-data__title {
    display: block;
    padding-bottom: 36px;
  }

  .user-data__wrapper {
    width: 620px;
    box-sizing: border-box;
    padding: 0 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid #e5e5e5;
  }

  .user-data__wrapper-contacts {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .user-data {
    width: 435px;
  }

  .user-data--contacts {
    width: 940px;
    padding: 0;
  }

  .user-data__title {
    padding-bottom: 32px;
  }

  .user-data__wrapper {
    width: 940px;
  }

  .user-data__wrapper-contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
