//styles for block
.user-message {
  box-sizing: border-box;
  margin-bottom: 38px;
  display: flex;
  flex-flow: column;
}

@media (min-width: $desktop-width) {
  .user-message {
    margin-bottom: 36px;
  }
}
